<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="vprus.dsf.template.commands"
         name="DSF Template Commands"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="vprus.dsf.template.ReportDsfContextCommandHandler"
            id="vprus.dsf-template.commands.report"
            name="Report DSF Context">
      </command>
   </extension>
   <extension
         id="vprus.dsf.template.menus"
         name="DSF Template Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.DebugView">
         <command
               commandId="vprus.dsf-template.commands.report"
               label="Report DSF context"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.cdt.dsf.ui.viewmodel.datamodel.IDMVMContext"
            class="vprus.dsf.template.AdapterFactory">
         <adapter
               type="adapter.Adapter1">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="vprus.dsf.template.Startup">
      </startup>
   </extension>

</plugin>
